@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'blackcastle';
    src: url('/fonts/BlackCastle.woff2') format('woff2'),
         url('/fonts/BlackCastle.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blackcastleshadow';
    src: url('/fonts/BlackCastleShadow.woff2') format('woff2'),
         url('/fonts/BlackCastleShadow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@layer base {
    :not(pre) > code {
        @apply px-1 py-0.5 font-mono rounded bg-neutral-900 text-yellow-200;
        font-size: 0.9em;
    }

    h1 {
        @apply mb-6 text-4xl font-bold tracking-tight md:text-5xl;
    }
}

a {
    @apply underline
}

.markdown {
    @apply mb-1;
}

.alert .markdown {
    @apply mb-0;
}

.markdown p {
    @apply mb-3;
}

.btn:disabled {
    @apply text-neutral-400 bg-neutral-700;
}

.portal-shadow {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.rotating-portal {
    display: inline-block;
    animation: rotate 60s linear infinite;
    transform-origin: center;
    z-index: -1;
}

  @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}