@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./keyboard.scss";

@font-face {
    font-family: 'blackcastle';
    src: url('/fonts/BlackCastle.woff2') format('woff2'),
        url('/fonts/BlackCastle.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blackcastleshadow';
    src: url('/fonts/BlackCastleShadow.woff2') format('woff2'),
        url('/fonts/BlackCastleShadow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'augusta';
    src: url('/fonts/Augusta.woff2') format('woff2'),
        url('/fonts/Augusta.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'augustashadow';
    src: url('/fonts/AugustaShadow.woff2') format('woff2'),
        url('/fonts/AugustaShadow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'berryrotunda';
    src: url('/fonts/BerryRotunda.woff2') format('woff2'),
        url('/fonts/BerryRotunda.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scrollbar-gutter: auto !important;
}

.modal-box {
    max-height: calc(100dvh - 5em);
}

.portal-shadow {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.rotating-portal {
    display: inline-block;
    animation: rotate 60s linear infinite;
    transform-origin: center;
    z-index: -1;
}

.rotating-portal.full {
    animation: rotate 200s linear infinite;
    width: max(142dvw, 142dvh);
    height: max(142dvw, 142dvh);
    max-width: unset;
    z-index: unset;
}

.rotating-portal.slow {
    animation: rotate-offset 220s linear infinite;
}

.noise-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    background-image: url('/images/noise.svg');
    background-repeat: repeat;
    z-index: 1;
}

.enter-portal-button {
    position: absolute;
    width: 55%;
    height: 55%;
    border-radius: 50%;
    margin-top: 2.5%;
    margin-left: 1.5%;
}

.dark-shadow {
    filter: drop-shadow(0px 0px 35px black);
}

.red-shadow {
    filter: drop-shadow(0px 0px 5px red);
}

.modal.synth-modal::backdrop {
    background: #0009
}

.min-h-75dvh {
    min-height: 75dvh;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-offset {
    0% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(359deg);
    }
}